.footer{
    background:#111;
    color:white;
    padding:40px 120px;
    margin-top:60px;
    }
    
    .footer-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
    }
    
    .footer-links ul{
    list-style:none;
    padding:0;
    }
    
    .footer-links li{
    margin:6px 0;
    cursor:pointer;
    }
    
    .social-icons i{
    font-size:20px;
    margin-right:10px;
    cursor:pointer;
    }
    
    .footer-bottom{
    text-align:center;
    margin-top:30px;
    color:#bbb;
    }