.order-success{
    text-align:center;
    padding:120px 20px;
    }
    
    .order-success h1{
    color:#28a745;
    margin-bottom:20px;
    }
    
    .track-btn{
    display:inline-block;
    margin-top:20px;
    background:#ff5200;
    color:white;
    padding:10px 20px;
    border-radius:6px;
    text-decoration:none;
    }