.support-container{
    padding:60px 120px;
    text-align:center;
    }
    
    .support-subtitle{
    margin-bottom:40px;
    color:#555;
    }

    .help-categories{
        margin-bottom:60px;
        }
        
        .categories-grid{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:25px;
        margin-top:25px;
        }
        
        .category-card{
        background:white;
        padding:25px;
        border-radius:10px;
        box-shadow:0 4px 15px rgba(0,0,0,0.1);
        text-align:center;
        transition:0.3s;
        }
        
        .category-card i{
        font-size:30px;
        color:#ff5200;
        margin-bottom:10px;
        }
        
        .category-card:hover{
        transform:translateY(-5px);
        }
    
    /* form */
    
    .contact-section{
        margin-top:60px;
        }
        
        .contact-layout{
        display:flex;
        gap:40px;
        margin-top:25px;
        }
        
        /* form */
        
        .contact-form{
        flex:1;
        background:white;
        padding:25px;
        border-radius:10px;
        box-shadow:0 4px 15px rgba(0,0,0,0.1);
        }
        
        .contact-form input,
        .contact-form textarea{
        width:100%;
        padding:12px;
        margin-bottom:12px;
        border:1px solid #ddd;
        border-radius:6px;
        }
        
        .contact-form textarea{
        height:100px;
        }
        
        .contact-form button{
        background:#ff5200;
        color:white;
        border:none;
        padding:12px;
        width:100%;
        border-radius:6px;
        cursor:pointer;
        }
        
        /* contact info */
        
        .contact-info{
        flex:1;
        }
        
        .info-item{
        display:flex;
        gap:15px;
        margin-bottom:20px;
        align-items:center;
        }
        
        .info-item i{
        font-size:22px;
        color:#ff5200;
        }
    
    /* FAQ */
    
    .faq-section{
        margin-top:60px;
        max-width:700px;
        margin-left:auto;
        margin-right:auto;
        text-align:left;
        }
        
        .faq-item{
        margin-bottom:15px;
        }
        
        details{
        background:white;
        padding:15px;
        border-radius:8px;
        box-shadow:0 3px 10px rgba(0,0,0,0.1);
        cursor:pointer;
        }
        
        summary{
        font-weight:600;
        cursor:pointer;
        }
        
        details p{
        margin-top:10px;
        color:#555;
        }